
{% extends "SITIOWEB/nova/index.html" %}
{% block content %}
    <section id="title" class="emerald" >
                      <div class="col-sm-5">
                    <h1>SERVICIOS</h1>
        </div>
    </section><!--/#title-->     

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap">
                        <h2>¿Que hacemos Nosotros?</h2>
                        <p>SONYEL es una empresa especializada en la venta de equipos de sonido y television. Actualmente ya tenemos más de 15 años de experiencia en el sector, gracias a los cuales podemos ofrecer no solo lo que el cliente nos pida sino también el trato y el saber hacer que solo se consigue con la experiencia.</p>
                    </div>                
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-dribbble icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Matenimiento a equipos SONY</h3>
                                 <p>Contamos con tecnicos ampliamente capacitados y especializados en la solucion de problemas que pueda generarsen a cualquier electrodomestico sony</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-dribbble icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Mantenimiento a equipos PANASONIC</h3>
                            <p>Contamos con tecnicos ampliamente capacitados y especializados en la solucion de problemas que pueda generarsen a cualquier electrodomestico PANASONIC</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-dribbble icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Venta de repuestos electrónicos</h3>
                            <p>Contamos con la mayoria de repuestos de electrónicos para solucionar
                               cualquier problema de sus equipos.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
            <div class="gap"></div>
                      <hr>
        
        </div>
    </section><!--/#services-->

    

{% endblock content %}
